body {

 background: url('images.jpeg');
 background-repeat:no-repeat;
 background-size:cover;
 background-attachment: fixed;
}


.form-autenticar{
  width: 350px;
  background: #24303c;
  padding: 30px;
  margin:auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}

.form-autenticar h2{
font-size: 22px;
margin-botton: 20px;

}

.form-autenticar h3{
font-size: 18px;
margin-botton: 20px;
color:white;
}

.form-autenticar h4{
font-size: 18px;
margin-botton: 18px;
color:white;
}

.form-autenticar h5{
font-size: 14px;
margin-botton: 18px;
color:white;
}




.controles{
width 100%;
 background: #24303c;
 padding: 10px
 border-radius: 4px;
 margin-bottom: 16px;
 border: 1px solid #1f53c5;

 font-family: 'calibri';
 color:white;
 font-size: 16px;
}

.controlesregister{
width 100%;
 background: #24303c;
 padding: 10px
 border-radius: 4px;
 margin-bottom: 16px;
 border: 1px solid #1f53c5;

 font-family: 'calibri';
 color:white;
 font-size: 12px;
}

.form-autenticar .boton2{
 width 100%;
 background: #1f53c5;
 border: none;
 padding: 6px;
 color: white;
 margin: 16px 0;
 font-size: 16px;
}


